/********************************************************
			Codezeel Custom Styles
********************************************************/
.cz-carousel {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-carousel .owl-item .manu_image a {
  display: inline-block;
}
.owl-carousel .owl-item .manu_image a img {
  max-width: 100%;
}
.owl-carousel .owl-item:hover a img {
  border-color: blue;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  /* fix */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  text-align: center;
}

/* mouse grab icon */
.grabbing {
  cursor: url("../img/codezeel/grabbing.png") 8 8, move;
}
.customNavigation {
    position: absolute;
    z-index: 8;
    width: 68px;
    right: 15px;
    top: -76px;
    direction: ltr !important;
}
.customNavigation a.prev:before {
    content: "\f104";
}
.customNavigation a.next:before {
    content: "\f105";
}
.customNavigation a::before {
    font-size: 16px;
    font-family: "FontAwesome";
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.customNavigation a:hover::before {
  color: #000;
}
#left-column .customNavigation, #right-column .customNavigation {
    width: 60px;
}
#left-column .customNavigation a, #right-column .customNavigation a{
    background: #ffffff;
    border: 1px solid #ffffff;
    width: 28px;
    height: 28px;
    line-height: 22px;
}
#left-column .customNavigation a:before, #right-column .customNavigation a:before{
    color:#000000;
}
.customNavigation a {
    font-size: 0;
    position: absolute;
    font-weight: 300;
    height: 32px;
    width: 32px;
    line-height: 26px;
    padding: 2px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background: #347474;
    border: 1px solid #347474;
    border-radius: 0;
}

.customNavigation a.prev {
  left: 0;
}

.customNavigation a.next {
  right: 0px;
}

.customNavigation a:hover, #left-column .customNavigation a:hover, #right-column .customNavigation a:hover{
      background: #f2e394;
    border-color: #f2e394;
}
@media (max-width: 1500px) {
  .customNavigation a.prev{
    left: 0;
  }
  .customNavigation a.next {
    right: 0;
  }
}

@media (max-width: 991px) {
  .customNavigation a.prev{
    left: 0px;
  }
    .customNavigation a.next {
      right: 0px;
  }
}
#czleftbanner img,
#czrightbanner img{
	max-width: 100%;
}	
#czleftbanner li, #czrightbanner li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 8px;
    overflow: hidden;
}
#czleftbanner li a, #czrightbanner li a {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
#czleftbanner li a:before, #czrightbanner li a:before {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: 20px;
    content: "";
    left: 20px;
    opacity: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#czleftbanner li:hover a:before, #czrightbanner li:hover a:before {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.top_button {
    background: url(../img/codezeel/top-arrow.png) no-repeat scroll 0 0;
    bottom: 20px;
    cursor: pointer;
    height: 40px;
    padding: 6px 12px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 40px;
    z-index: 99;
}

/* Flexslider */

#index .spinner {    
    background: url(../img/codezeel/loading.gif) no-repeat center center #ffffff;
    width: 100%;
	min-height:656px;
}
@media (max-width: 1600px) {
  .customNavigation a.prev {
      left: 0;
  }
  .customNavigation a.next {
      right: 0;
  }
}
@media (max-width: 1659px) {
  #index .spinner {
      min-height: 573px;
  }
}
@media (max-width: 1459px) {
  #index .spinner {
      min-height: 465px;
  }
}
@media (max-width: 1199px) {
  #index .spinner {
      min-height: 358px;
  }
}
@media (max-width: 991px) {
  #index .spinner {
      min-height: 424px;
  }
}
@media (max-width: 767px) {
  #index .spinner {
      min-height: 453px;
  }
}
@media (max-width: 575px) {
  #index .spinner {
      min-height: 335px;
  }
}
@media (max-width: 479px) {
  #index .spinner {
      min-height: 276px;
  }
}
/* @im */
/*
    blue: #1f8bcb
    yellow: #fed641
*/
/* Blue background */
.header-inner-top,
#header .header-inner-top.fixed,
#left-column .block .block_title,
#right-column .block .block_title,
.tabs .nav-tabs .nav-link:hover,
.tabs .nav-tabs .nav-link.active,
.customNavigation a,
#footer,
.pagination a,
#blockcart-modal .cart-content button
{
    background: #1f8bcb;   
}
/* Yellow background */
#header .search-widget form button[type=submit],
#left-column #czverticalmenublock .block_title, #right-column #czverticalmenublock .block_title,
#header .blockcart .blockcart-header > a.shopping-cart .mobile_count,
.search-widget form button[type="submit"],
.btn-primary,
.product-quantity .add .add-to-cart,
.product-miniature .price,
.product-actions .current-price,
.checkout.cart-detailed-actions a.btn.btn-primary
{
    background: #fed641;
}
/* Yellow border-color */
#left-column #czverticalmenublock .block_content,
#right-column #czverticalmenublock .block_content,
.btn-primary,
.product-quantity .add .add-to-cart,
.checkout.cart-detailed-actions a.btn.btn-primary,
#blockcart-modal .cart-content button
{
    border-color: #fed641;
}
/* Blue border */
.tabs .nav-tabs .nav-link:hover,
.tabs .nav-tabs .nav-link.active,
.customNavigation a,
.pagination a,
#blockcart-modal .cart-content button
{
    border-color: #1f8bcb;
}
/* Hide */
.footer-after,
.block-category,
.page-not-found,
#_mobile_main_menu,
.subcategory-heading,
#product #left-column,
#main .page-header{
    display: none;
}
/* White color */
.footer-container li a, .footer-container li{
    color: #eee;
}
/* Blue color */
.footer-after,
#footer .block_newsletter .sub-title {
    color: #1f8bcb;
}
.header-inner-top{
    /*margin-bottom: 5px;*/
}
#header{
    background: none;
}
#header .header-top .header-top-inner .menu.horizontal-menu{
    border:none;
}
.header-top .menu > ul > li:first-child a{
    padding:15px;
}
#header .header-top .header-top-inner{
    background: #f6f7f9;
}
#left-column #czverticalmenublock .block_title, #right-column #czverticalmenublock .block_title{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 47px 1px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 47px 1px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 47px 1px rgba(0,0,0,0.16);
}
#left-column #czverticalmenublock .block_content, #right-column #czverticalmenublock .block_content{
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 47px 1px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 47px 1px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 47px 1px rgba(0,0,0,0.16);
}
#czverticalmenublock{
    margin-top: -43px !important;
}
#index #left-column #czverticalmenublock, #index #right-column #czverticalmenublock{
    margin-top: -13px !important;
}
.header-top-inner > div, #header .header-top .header-top-inner .menu.horizontal-menu{
    padding: 0;
}
.header-top .menu > .top-menu,
.grid .product-title,
.grid .product-price-and-shipping,
#index .product-title,
#index .product-price-and-shipping{
    text-align: center;
}
.products .product-price-and-shipping, .product-price {
    margin: 24px 0 19px;
}
/* Text upp */
.breadcrumb{
    text-transform: uppercase;
}
#subcategories ul li{
    width: 23%;
    margin: 1%;
}
/*Hover menu*/
.header-top .menu .sub-menu {
    width: 100%;
    left: 0;
    border: none;
    top: 55px !important;
    -webkit-box-shadow: 0px 20px 47px 1px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 20px 47px 1px rgba(0,0,0,0.16);
    box-shadow: 0px 20px 47px 1px rgba(0,0,0,0.16);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#left-column {
    z-index: 1;
}
/* display: none */
.tax-shipping-delivery-label {
    display: none !important;
}
.product-miniature .price,
.product-actions .current-price{
    padding: 10px;
}
.featured-products{
    padding: 100px 0 60px;
}
.products .product-title a,
.productpage_title, .quickview h1.h1,
.products-section-title,
.btn-primary,
.btn-secondary,
.btn-tertiary,
.tabs .nav-tabs .nav-link,
#blockcart-modal .cart-products-count{
    text-transform: uppercase !important;
}
#blockcart-modal .modal-dialog {
    max-width: 1200px;
}
.im-stock{
    font-weight: bold;
    color: #262626;
    margin-bottom: 5px;
}
.im-stock span{
    color: green;
}
@media (min-width: 992px) {
    #header .header_logo {
        width: 15%;
    }
}